/*your custom CSS here*/

.heading {
  background-image: url(../img/heading.jpg);
  background-repeat: no-repeat;
  height: 400px;
  width: 100%;
  background-position: center;
  background-color: #003366;
  margin-bottom: 20px;
}
h1 {
  text-align: center;
  color: white; 
}
body {
  background-image: url(../img/metal.jpg);
}
img {
  width: 100%;
}
